{% comment %}
  Shopify Wishlist
  Usage:
  - Markup: {%- render 'button-wishlist', product: product -%}
  - Place this snippet inside your existing product card snippet

  Parameters:
  - product: <Shopify product> (required)
{% endcomment %}
{%- if product.handle != blank -%}
  <button
    type="button"
    aria-label="Add to wishlist"
    class="button-wishlist"
    id="wish-list-button"
    data-product-handle="{{ product.handle }}"
    data-product-title="{{ product.title }}">

    <span class="icon icon-heart {{ class -}}">
      {{ 'Add to wishlist' | escape }}
    </span>

    <span id="sucess-message" class="success">
      {{ 'Added to wishlist. ' | escape }}
      <a href="/pages/wishlist" title="Wishlist">{{ 'View' | escape }}</a>
    </span>

  </button>
{%- endif -%}

<script>
  const wishListButton = document.getElementById('wish-list-button');
  const successMessage = document.getElementById('success-message');

  wishListButton.onclick = () => {
    wishListButton.classList.add('activated');

    setTimeout(() => {
      successMessage.style.display = 'none';
    }, 2500);
  };
</script>