{{ 'about-text-column.css' | asset_url | stylesheet_tag}}
<div class="about-text-column">
  <div class="about-text-column-top">
    {%- if section.settings.image != blank -%}
      <div class="image-wrapper {% if section.settings.image_mobile != blank %} small-hide {% endif %}">
        {%-liquid
            assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
            assign sizes = "100vw"
          -%}
        {{ section.settings.image | image_url: width: 1500 | image_tag:
            loading: 'lazy',
            width: section.settings.image.width,
            height: image_height,
            class: image_class,
            sizes: sizes,
            widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
            alt: section.settings.image.alt | escape
          }}
      </div>
    {% endif %}
    {%- if section.settings.image_mobile != blank -%}
      <div class="image-wrapper medium-hide large-up-hide">
        {%-liquid
            assign image_height = section.settings.image_mobile.width | divided_by: section.settings.image_mobile.aspect_ratio
            assign sizes = "100vw"
          -%}
        {{ section.settings.image_mobile | image_url: width: 1500 | image_tag:
            loading: 'lazy',
            width: section.settings.image_mobile.width,
            height: image_height,
            class: image_class,
            sizes: sizes,
            widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
            alt: section.settings.image_mobile.alt | escape
          }}
      </div>
    {% endif %}
    {% if section.settings.heading != blank %}
       <h2 class="h0 page-full-width">{{ section.settings.heading }}</h2>
    {% endif %}
  </div>
  <div class="about-text-column-bottom page-full-width">
    {%- for block in section.blocks -%}
       <div class="column-item">
        {%- if block.settings.title != blank -%}
          <h3 class="h2 uppercase">{{ block.settings.title }}</h3>
        {%- endif -%}
        {%- if block.settings.text != blank -%}
          <div class="rte">{{ block.settings.text }}</div>
        {%- endif -%}
       </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Text column",
  "tag": "section",
  "class": "section",
  "max_blocks": 3,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image mobile"
      },
    {
      "type": "text",
      "id": "heading",
      "default": "About",
      "label": "Heading"
    }
  ],

  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ]
}
{% endschema %}