{% comment %}
*
* Hero Blocks
*
* [throne]
{% endcomment %}
<div
  id="hero-block--{{ section.id }}"
  class="hero--block block--image-banner"
  style="background: url('{{ section.settings.section_background_image | img_url: '1600x' }}'); background-size: cover; background-position: center; display: flex; align-items: stretch;">

  <div class="row-wrapper" style="height: {{ section.settings.section_height }}vh;">
    <div class="content-wrapper content--{{ section.id }}">

      <div style="display: block;">
        <h2 class="banner__heading h0">{{ section.settings.section_title }}</h2>
        <p class="banner__text">{{ section.settings.section_description }}</p>
        <a href="{{ section.settings.section_link }}" title="{{ section.settings.section_title }}">
          {{ 'Shop' | escape }}
        </a>
      </div>

    </div>
    
  </div>
</div>



{% schema %}
  {
    "name": "Hero Block",
    "tag": "section",
    "class": "section",
    "max_blocks": 3,
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "default": "Denim done different",
        "label": "Title"
      }, {
        "type": "text",
        "id": "section_description",
        "label": "Text"
      }, {
        "type": "image_picker",
        "id": "section_background_image",
        "label": "Background Image"
      }, {
        "type": "url",
        "id": "section_link",
        "label": "Destination",
        "info": "Select a page or URL for the Call To Action"
      },
      {
        "type": "range",
        "id": "section_height",
        "min": 100,
        "max": 200,
        "step": 10,
        "unit": "vh",
        "label": "Block Height",
        "default": 100,
        "info": "Increase the height of the Block"
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "Hero Block",
        "category": "Custom"
      }
    ]
  }
{% endschema %}