<style></style>


{% comment %} 1 {% endcomment %}
<div class="hero--block--one block--image-banner" style="background: url('{{ template.settings.section_background_image | img_url }}'); background-size: cover;">
  <div class="row-wrapper">
    <div class="content-wrapper">
      <h2>{{ section.settings.section_title }}</h2>
      <p>{{ section.settings.section_description }}</p>
      <a href="{{ section.settings.section_link }}" title="{{ section.settings.section_title }}">
        {{ 'Shop' | escape }}
      </a>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Hero Block",
    "tag": "section",
    "class": "section",
    "max_blocks": 3,
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "default": "Denim done different",
        "label": "Title"
      }, {
        "type": "text",
        "id": "section_description",
        "label": "Text"
      }, {
        "type": "image_picker",
        "id": "section_background_image",
        "label": "Background Image"
      }, {
        "type": "url",
        "id": "section_link",
        "label": "Destination",
        "info": "Select a page or URL for the Call To Action"
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "Hero Block",
        "category": "Custom"
      }
    ]
  }
{% endschema %}