<link
  rel="stylesheet"
  href="{{ 'section-main-page.css' | asset_url }}"
  media="print"
  onload="this.media='all'">
<link
  rel="stylesheet"
  href="{{ 'component-rte.css' | asset_url }}"
  media="print"
  onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}
      px;
      padding-bottom: {{ section.settings.padding_bottom }}
      px;
    }
  }
{%- endstyle -%}

{% assign pageTitle = page.title | downcase %}
<div class="section-{{ section.id }}-padding">

  <div class="wishlist--wrapper">

    <h1 class="page-full-width main-page-title page-title h2">
      {{ page.title | escape }}
    </h1>

    {% comment %} Shopify Page Content  {% endcomment %}
    <div class="page-width page-width--narrow">
      <div class="rte {% if pageTitle == 'stockists' %} page-stockists uppercase {% endif %}">
        {{ page.content }}
      </div>
    </div>

    {% comment %} Wishlist generated  {% endcomment %}
    <div class="wishlist__grid wishlist--container" grid-wishlist>
      {% comment %} Sample loading element {% endcomment %}
      <p class="wishlist__loader full-width text-center loading-content">Loading</p>
    </div>

  </div>
</div>